.logo {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.menu {
  width: 50px;
  height: 30px;
  object-fit: contain;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.about {
  color: black;
  text-decoration-line: none;
  margin-right: 10px;
  font-size: 20px;
}
.tomzurag {
  width: 100%;
  margin: 0%;
}
main {
  width: 100%;
}
.garchig {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0%;
}
.jijiggarchig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.shop {
  width: 50px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
}
.shopping {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0%;
}
.bichig {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  color: white;
}
.zurag {
  position: relative;
  width: 50%;
  object-fit: contain;
  margin: 0%;
  display: flex;
}
.zuragshop {
  width: 50px;
  height: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: center;
}
.catalogue {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.nike {
  width: 100%;
}
body {
  margin: 0%;
}
.title {
  width: 140px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.garchighoyr {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.model {
  width: 100%;
}
.sneaker {
  width: 500px;
  height: 300px;
  object-fit: contain;
  border-radius: 50px;
}
.puuz {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.gutal {
  position: relative;
}
.tailbar {
  position: absolute;
  left: 150px;
  bottom: 0;
}
